@keyframes breathe {
  100% {
    transform: scale(1.2) rotate(360deg);
  }
}
@keyframes turnLeft {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
// @keyframes turnRight {
//   0% {
//     transform: rotate(5deg);
//   }
//   100% {
//     transform: rotate(-5deg);
//   }
// }

.company {
  margin-top: 190px;
  height: fit-content;
  width: 100%;
  display: grid;
  place-items: center;

  @include media("<=phone") {
    margin-bottom: 100px !important;
    margin-top: 0;
    overflow: hidden;
  }

  &__wrapper {
    width: 1092.86px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include media("<=phone") {
      width: 88%;
    }

    &-text {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      & h3 {
        font-weight: 500;
        font-size: 52px;
        line-height: 64px;
        text-align: center;
        max-width: 796px;

        @include media("<=phone") {
          font-size: 36px;
          line-height: 46px;
          max-width: 333px;
        }
      }

      & button {
        padding: 0px 30px;
        height: 55px;
        border: 2px solid #00c39a;
        border-radius: 38px;
        margin-top: 38px;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #00c39a;
        cursor: pointer;
        z-index: 9;

        @include media("<=phone") {
          padding: 0px 36px;
          height: 60px;
          margin-top: 24px;
          font-size: 20px;
          line-height: 23px;
        }
      }
    }

    &-spheres {
      width: 100%;
      height: fit-content;
      padding: 40px;
      position: relative;
      display: grid;
      place-items: center;
      height: 487.67px;
      margin-top: -40px;
      overflow: hidden;

      @include media("<=phone") {
        display: none;
      }

      & img {
        position: absolute;
      }

      &-atom {
        top: 120px;
        -webkit-animation: breathe 2s linear infinite;
        animation: breathe 2s linear infinite;
        -webkit-animation-direction: alternate !important;
        animation-direction: alternate !important;
      }

      // sphere 2
      &-wb {
        left: 9px;
        top: 122.74px;
      }
      &-cv {
        right: 19.86px;
        top: 119.74px;
      }

      // sphere 1
      &-up {
        left: 139px;
        bottom: 95px;
      }
      &-ab {
        right: 150.86px;
        bottom: 95px;
      }

      // sphere 0
      &-cc {
        bottom: 46.93px + 50px;
      }
      &-gg {
        left: 241px;
        bottom: 260px;
      }
      &-mc {
        right: 218px;
        top: 120px;
      }
    }

    &-spheresMobile {
      width: 100%;
      max-width: 388px;
      height: fit-content;
      position: relative;
      display: none;
      place-items: center;
      height: 309px;
      margin-top: 67px;
      // overflow: hidden;

      @include media("<=phone") {
        display: grid;
      }

      & img {
        position: absolute;
      }

      &-s0 {
        left: 14px;
        -webkit-animation: turnRight 5s linear infinite;
        animation: turnRight 5s linear infinite;
        -webkit-animation-direction: alternate !important;
        animation-direction: alternate !important;
      }
      &-s1 {
        -webkit-animation: turnLeft 5s linear infinite;
        animation: turnLeft 5s linear infinite;
        -webkit-animation-direction: alternate !important;
        animation-direction: alternate !important;
      }
    }
  }
}
