.works {
  margin: 180px 0 180px;
  padding: 10px 135px;
  font-weight: 400;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span {
      font-size: 1.2rem;
      line-height: 28px;
      text-decoration: underline;
      color: #f4c851;

      margin-top: 0.75rem;
    }
  }
  &__tagline {
    font-size: 40px;
    line-height: 52px;
    align-self: flex-start;
    width: 50%;
  }
  &__brands {
    margin-top: 80px;
    display: grid;
    column-gap: 76px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
  }
  &__brand {
    display: flex;
    justify-content: center;
    min-width: 170px;
    width: fit-content;
    padding: 21px;
    height: 70px;
    background: #2a2f39;
    border-radius: 35px;

    align-items: center;
    transition: all 0.3s ease-in;
    p {
      margin-left: 8.35px;
      font-size: 1.45rem;
      font-weight: 500;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  @include media("<=phone") {
    margin: 100px 0;
    padding: 0;
    &__top {
      padding: 0 20px;
      flex-direction: column;
      align-items: flex-start;
    }
    &__tagline {
      font-weight: 400;
      font-size: 30px;
      line-height: 42px;
      width: 100%;
    }
    &__brands {
      overflow: scroll;
      margin-top: 29.4px;
      column-gap: 11px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  @include media(">=LGdesktop") {
    margin: 180px auto 180px;
    max-width: 1440px;
  }
}
